@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
}

@layer components {
    .font-poppins {
        font-family: 'Poppins', sans-serif !important;
    }
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p, button, a, span, div {
    font-family: 'Poppins', sans-serif;
}
